<h2 mat-dialog-title>Add employee</h2>
<mat-dialog-content class="mat-typography">
  <p>Name:</p>
  <mat-form-field>
    <input matInput type="text" cdkFocusInitial [(ngModel)]="username">
  </mat-form-field>
  <p>Password:</p>
  <mat-form-field>
    <input matInput type="password" [(ngModel)]="password">
  </mat-form-field>
  <p>Confirm password:</p>
  <mat-form-field>
    <input matInput type="password" [(ngModel)]="conf_password">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button mat-button  (click)="register()">Speichern</button>
</mat-dialog-actions>
