<!-- background image -->
<img src="./assets/images/login-page.png" class="background-img">

<!-- overlay for the login -->
<div class="overlay">
  <img src="./assets/images/logo.gif">
  <!-- welcome message-->
  <p class="spacing-text">Welcome to the user administration</p>
  <!-- username input -->
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput type="text" [(ngModel)]="username">
  </mat-form-field>
  <!-- password input -->
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="password">
  </mat-form-field>
  <!-- login button -->
  <button mat-button (click)="getLogin()" class="login-button">Login</button>
</div>
