nav {
  display: flex;
  justify-content: space-between;
}

.tabs-left {
  display: flex;
  align-items: center;
}

.tabs-right {
  display: flex;
  align-items: center;
  margin-left: auto; /* This will push the button to the right */
}
