<nav mat-tab-nav-bar [tabPanel]="tabPanel" backgroundColor="primary" color="accent">
  <a mat-tab-link routerLink="/users" routerLinkActive #usersTab="routerLinkActive" [active]="usersTab.isActive">
    Benutzer
  </a>
  <a mat-tab-link routerLink="/constuctionSite" routerLinkActive #constuctionSiteTab="routerLinkActive"
    [active]="constuctionSiteTab.isActive">
    Baustellen
  </a>
  <a mat-tab-link routerLink="/stations" routerLinkActive #stationsTab="routerLinkActive"
    [active]="stationsTab.isActive">
    Baustellenübersicht
  </a>
</nav>
<mat-tab-nav-panel #tabPanel>
  <button (click)="openDialog()">Benutzer hinzufügen</button>

  <div *ngFor="let user of users">
    <span  routerLink="/userdetails/{{user.uid}}">{{user.uname}}</span>
  </div>
