<h2 mat-dialog-title>Add construction site</h2>
<mat-dialog-content class="mat-typography">
  <p>Name:</p>
  <mat-form-field>
    <input matInput type="text" cdkFocusInitial [(ngModel)]="username">
  </mat-form-field>
  <p>Description:</p>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="description">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="register()">Save</button>
</mat-dialog-actions>
