<app-menu-bar></app-menu-bar>
<mat-tab-nav-panel #tabPanel>
  <div class="container">
    <div *ngIf="user">
      <h1>Logged in as: {{user[0]?.uname}}</h1>
      <button mat-button style="margin-bottom: 10px;" (click)="logout()">Log out</button>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Authorized users
          </mat-panel-title>
        </mat-expansion-panel-header >

        <!-- Panel content-->
        <div *ngIf="authUsers">
          <div *ngFor="let user of authUsers">
            <p (click)="delete(user.uid)">{{user.uname}}</p>
          </div>
        </div>

        <button mat-button (click)="openUserDialog(true)">
          <mat-icon>add</mat-icon>
          Add user
        </button>
      </mat-expansion-panel>

    </div>
  </div>
</mat-tab-nav-panel>
