<app-menu-bar></app-menu-bar>

<mat-tab-nav-panel #tabPanel>
  <div class="margin" *ngIf="user">
    <h1>{{user[0]?.uname}}</h1>
    <button mat-button (click)="logout()">Log out</button>

    <div class="center-content">

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Authorized users
          </mat-panel-title>
        </mat-expansion-panel-header >

        <!-- Panel content-->
        <div *ngIf="authUsers">
          <div *ngFor="let user of authUsers">
            <p (click)="openDialog(user.uname)">{{user.uname}}</p>
          </div>
        </div>

        <button mat-button (click)="openUserDialog(true)">
          <mat-icon>add</mat-icon>
          Add user
        </button>
      </mat-expansion-panel>
    </div>
  </div>
</mat-tab-nav-panel>
