button {
  color: white !important;
  background-color: #195229;
}

div {
  text-align: center;
}

p {
  padding-bottom: 5%;
}

.center-content {
  display:flex;
  justify-content: center;
}

.margin {
  margin: 5%;
}
